## Q1. Write a program to accept paecentage from the user and display the grade according to the following criteria:

In [7]:
# Marks         :    Grade
#  >90          :      A
# >80 and <=90  :      B
# >=60 and <=80 :      C
# below 60      :      D

In [9]:
percentage = float(input("Enter your percentage:- "))

if percentage > 90:
    print("Your grade is A")
elif percentage > 80 and percentage <= 90:
    print("Your grade is B")
elif percentage >= 60 and percentage <= 80:
    print("Your grade is C")
else:
    print("Your grade is D")

Enter your percentage:-  93.5

Your grade is A

## Q2.  Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:-

In [10]:
#  Tax   :   Cost Price(in Rs.)
#  15%   :     >100000
#  10%   :     >50000 AND <=100000
#   5%   :     <=50000

In [11]:
bike_cost_price=int(input("Enter cost of your bike:- "))

if bike_cost_price>100000:
    print(f"Road tax to be paid = {bike_cost_price*15/100}")
elif bike_cost_price>50000 and bike_cost_price<=100000:
    print(f"Road tax to be paid = {bike_cost_price*10/100}")
else:
    print(f"Road tax to be paid = {bike_cost_price*5/100}")

Enter cost of your bike:-  150000

Road tax to be paid = 22500.0

## Q3. Accept any city name from the user and display monuments of that city.

In [12]:
# City    :     Monument
# Delhi   :     Red Fort
# Agra    :     Taj Mahal
# Jaipur  :     Jal Mahal

In [14]:
city_name = input('Enter name of city:- ')

if city_name == 'delhi':
    print('Delhi has Red Fort.')
elif city_name == 'agra':
    print('Agra has Taj Mahal.')
elif city_name == 'jaipur':
    print('Jaipur has Jal Mahal.')
else:
    print('City name is out of data.')

Enter name of city:-  delhi

Delhi has Red Fort.

## Q4. Cheakhow many times a given number can be divided by 3 before it is less than or equal to 10.

In [22]:
num = int(input('Enter number:- '))

i = 0
while num > 10:
    if num%3 == 0:
        num = num/3
        i+=1
print(i)

Enter number:-  81

2

## Q5. Why and When to use While loop in Python? Give a detailed description with example.

#### Ans.
#### Python while loop is used to run a block code until a certain condition is met.
#### A while loop evaluates the condition.
#### If the condition evaluates to True, the code inside the while loop is executed.
#### condition is evaluated again.
#### This process continues until the condition is False.
#### When condition evaluates to False, the loop stops.

#### Example:-

In [16]:
print('Find Squares upto "n" number')
n = int(input('Enter number:- '))
i = 1
while i < n+1:
    print(i**2)
    i+=1

Find Squares upto "n" number

Enter number:-  10

1
4
9
16
25
36
49
64
81
100

## Q6. Use nested While loop to print 3 different patterens.

In [17]:
i=1
j=1
while i<10:
    while j<10:
        print(str(i)*j)
        i+=1
        j+=1

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [18]:
i=9
j=9
while i>0:
    while j>0:
        print(str(i)*j)
        i-=1
        j-=1

999999999
88888888
7777777
666666
55555
4444
333
22
1

In [19]:
n1 = 9
i=1
j=1
while i<=n1:
    while j <=n1:
        print(' '*((n1-i)//2) + str(i)*j)
        i+=2
        j+=2

    1
   333
  55555
 7777777
999999999

## Q7. Reverse a while loop to display numbers from 10 to 1.

In [20]:
i = 10
while i > 0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

## Q8. Reverse a while loop to display numbers from 10 to 1.

In [21]:
a = 0
while a<10:
    print(10-a, end=' ')
    a+=1

10 9 8 7 6 5 4 3 2 1